spring:
  application:
    name: msproduction

  flyway:
    enabled: false

  datasource:
    url: jdbc:postgresql://localhost:5432/production_db
    username: postgres
    password: production_password
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  cloud:
    aws:
      region:
        static: us-east-1
      sqs:
        endpoint: http://localhost:4566

  sqs:
    queues:
      production-queue: production-queue
      production-callback-queue: production-callback-queue

server:
  port: 8090

management:
  endpoints:
    web:
      exposure:
        include: "*"
      base-path: /actuator
  endpoint:
    health:
      show-details: always
      probes:
        enabled: true
  health:
    db:
      enabled: true
    diskspace:
      enabled: true
  metrics:
    export:
      prometheus:
        enabled: true
